div.public-page-header {
	min-height: 100vh;
	
	div.carousel {
		width: 100%;
		min-height: 100vh;
		left: 0;

		&.expand {
			width: 100vw;
			margin-left: calc((100% - 100vw) / 2);
		}

		div.slides {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-flow: row nowrap;
			scroll-snap-type: x mandatory;
			height: 100vh;
			width: 100%;
			padding: 60px 0 120px 0;
			overflow: auto;
			box-sizing: border-box;

			div.slide {
				position: relative;
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				flex: none;
				scroll-snap-align: center;

				a {
					display: flex;
					justify-content: center;
					width: 100%;
					height: 100%;

					.media-txt {
						align-self: center;
						position: absolute;
						width: 100%;
						padding: 0 30px;
						box-sizing: border-box;
						color: $c-dark-blue;
						z-index: 10;
						opacity: 0;
						transition: opacity 1s;
						color: #FFF;

						.country {
							color: $c-light-green;
						}
						h1 {
							font-size: $t-large;
							line-height: 1.3em;
							text-align: left;
							margin: 0 0 15px 0;
						}
					}
					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: contain;
						margin: auto;
						transition: opacity .5s;
					}
				}
				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $c-mid-blue;
					opacity: 0;
					transition: opacity .25s;
					pointer-events: none;
				}
			}
			div.slide:hover {
				img {
					opacity: .25;
				}
				.media-txt {
					opacity: 1;
				}

				&::after {
					opacity: .75;
				}
			}
		}
		div.dots {
			position: absolute;
			bottom: 90px;
			width: 100%;
			height: 15px;
			line-height: 15px;
			text-align: center;

			.dot {
				height: 15px;
				width: 15px;
				margin: 0 5px;
				background-color: rgba(0,0,0,.1);
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.25s ease;
				cursor: pointer;
			}
			.highlight {
				background-color: $c-mid-green;
			}
		}
	}
	div.mosaic {
		width: 100%;
		min-height: 100vh;
		left: 0;
		margin-top: -30px;
		overflow: hidden;

		&.expand {
			width: 100vw;
			margin-left: calc((100% - 100vw) / 2);
		}

		/* INSPIRED BY: https://medium.com/cloudaper/how-to-create-a-flexible-square-grid-with-css-grid-layout-ea48baf038f3 */
		div.slides {
			display: grid;
			grid-template-columns: repeat(3, 150px);
			grid-auto-rows: 1fr;
			grid-gap: 5px;
			align-items: center;
			justify-content: center;
			grid-column-start: 3;

			width: calc(100% - 5px);
			height: 100%;
			margin: 35px 0;

			&::before {
				content: '';
				width: 0;
				padding-bottom: 100%;
				grid-row: 1 / 1;
				grid-column: 1 / 1;
			}

			div.blank-area {
				grid-area: 1 / 1 / 3 / 3;

				h1 {
					margin: 0;
					font-size: $t-large;
					line-height: 1.2em;
				}
			}

			div.slide {
				position: relative;
				width: 150px;
				height: 150px;
				transition: transform .5s;
				overflow: hidden;
				aspect-ratio: 1;
				counter-increment: my-counter;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(0);
					transition: filter 1s, transform 1s;
					animation: animate-mosaic-in .5s ease-out;
					animation-fill-mode: forwards;
				}
				@keyframes animate-mosaic-in {
					from { transform: scale(0); }
					to { transform: scale(1); }
				}

				.media-txt {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					padding: 10px;
					transform: translateY(100%);
					transition: transform .5s;
					z-index: 10;
					box-sizing: border-box;
					pointer-events: none;

					.country {
						font-size: $t-mid-small;
						color: $c-light-green;
					}
					h1 {
						font-size: $t-main;
						line-height: 1.3em;
						text-align: left;
						margin: 0;
						color: #FFF;
						font-weight: normal;
					}
				}

				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $c-mid-blue;
					opacity: .9;
					transform: translateY(100%);
					transition: transform .25s;
					pointer-events: none;
				}
			}
			@for $i from 1 through 50 {
				div.slide:nth-child(#{$i}n) img {
					animation-delay: #{$i * .05}s;
				}
			}
			div.slide:hover {
				// img {
				// 	/*filter: grayscale(1) blur(5px);*/
				// 	/*transform: scale(1.25);*/
				// }

				.media-txt,
				&::after {
					transform: translateY(0);
				}
			}
		}
		div.slides > *:first-child {
			grid-row: 1 / 1;
			grid-column: 1 / 1;
		}
	}

	button.scroll-nav {
		position: fixed;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 60px;
		background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 3px,
			rgba(150, 150, 150, .1) 3px,
			rgba(150, 150, 150, .1) 6px
		);

		border: none;
		outline: none;
		color: $c-light-grey;
		font-size: $t-xxlarge;
		line-height: 1.5em;
		cursor: pointer;
		transition: background .25s;
		z-index: 1001;

		label.rotate {
			display: block;
			transform: rotate(90deg);
			width: 60px;
			height: 60px;
			line-height: 60px;
			margin: auto;
			cursor: pointer;
		}
	}
	button.scroll-nav:hover {
		background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 3px,
			rgba(50, 190, 225, .1) 3px,
			rgba(50, 190, 225, .1) 6px
		);
	}

	h1 {
		margin: 60px 60px 45px 60px;
		text-align: center;
		font-size: $t-xlarge;
		line-height: 1.2em;
	}
	h2 {
		margin: 15px 60px 60px 60px;
		text-align: center;
		line-height: 1.5em;
		color: $c-light-blue;
		font-weight: normal;
	}
	p.lead {
		width: 100vw;
		padding: 0 60px;
		font-size: $t-mid;
		line-height: 1.5em;
		box-sizing: border-box;
	}
}
div.public-page-panel {
	width: 100%;
	min-height: 90px;
	padding: 90px 0;

	&.sm-padding {
		padding: 5px 0;

		& > .inner {
			#statistics {
				.stat-group {
					.statistic {
						h1 {
							font-size: $t-large;
							line-height: 1.2em;
						}
						h2 {
							font-size: $t-mid;
							line-height: 1.2em;
						}
						p {
							font-size: $t-mid-small;
							line-height: 1.3em;
						}
					}
				}
			}
		}
	}

	& > .inner {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		margin: auto;

		h1.site-title {
			font-size: $t-xlarge;
			line-height: 1.2em;
			color: $c-mid-blue;
			text-align: center;
			margin-bottom: 90px;
		}
		/*h1.site-title.map-overlay {
			position: absolute;
			right: 0;
			top: 0;
			margin: calc(-#{$t-xxlarge} * 1.2) 0 1em 0;
			z-index: 1000;
			text-align: left;
		}*/
		h3 {
			margin-bottom: 1em;
			font-weight: normal;
			font-size: $t-mid;
			line-height: 1.3em;
		}
		.lead {
			font-size: $t-mid;
			line-height: 1.3em;
			margin-bottom: 1em;
		}
		blockquote {
			font-size: $t-large;
			line-height: 1.3em;
		}
		blockquote + p {
			margin-top: 1em;
		}
		.description {
			font-size: $t-main;
			line-height: 1.3em;
			margin-bottom: 1em;
			color: $c-light-grey;
		}
		#statistics {
			margin-left: calc((100% - 100vw) / 2);
			margin: 0 0 30px 0;
			padding: 0 30px;

			.stat-group {
				display: grid;
				grid-gap: 30px;
				grid-template-columns: 1fr 1fr;
				justify-content: center;
				align-items: center;
				margin: 30px 0;

				&:first-child {
					.statistic {
						grid-column: 1 / span 2;
					}
				}

				.statistic {
					text-align: center;

					h1 {
						font-size: $t-xlarge;
						line-height: 1.2em;
						margin-bottom: 0;
					}
					h2 {
						font-size: $t-large;
						line-height: 1.2em;
					}
					small {
						font-size: $t-small;
						line-height: 1.2em;
						color: $c-light-grey;
					}
				}
			}
		}
		.map-container {
			width: calc(100% + (100vw - 100%) / 2);
			margin-left: calc((100% - 100vw) / 4);
			margin-top: 90px;

			#map {
				min-height: 60vh;
			}
		}
		nav.enter {
			text-align: center;
			margin: 60px 0;

			a:hover {
				text-decoration: none;
			}
			button {
				min-height: 45px;
				padding: 0 15px;
				border: 1px solid $c-light-grey;
				outline: none;
				background-color: transparent;
				font-size: $t-main;
				line-height: 1.5em;
				color: $c-light-grey;
				cursor: pointer;

				&.highlight {
					background-color: $c-light-blue;
					border-color: $c-light-blue;
					color: #FFF;
				}
			}
		}
		ul.columns {
			display: grid;
			align-items: center;
			grid-gap: 15px;
			grid-template-columns: repeat(2, 1fr);

			li {
				font-size: $t-main;
				line-height: 1.3em;

				small {
					display: block;
					font-size: $t-small;
					line-height: 1.3em;
					color: $c-light-grey;
				}
			}
		}
	}

	&.blue {
		width: 100vw;
		padding: 90px 0;
		margin-left: calc((100% - 100vw) / 2);
		background-color: $c-mid-blue;
		color: #FFF;

		& > .inner {
			padding: 0 15px;
		}

		a {
			color: $c-light-green;
		}
	}
}

div.browse {
	display: block;
	width: calc(100vw - 30px);
	padding: 120px 15px 0 15px;
	background-color: #FFF;
	min-height: calc(100% - 120px);

	&.home {
		padding-top: 45px;
	}

	nav#search-and-filter {
		padding: 5px 15px 15px 15px;
		border-top: 1px solid $c-mid-grey;
		margin-bottom: 0;

		position: fixed;
		width: 100%;
		max-height: calc(100vh - 45px);
		min-height: 160px;
		left: 0;
		bottom: 0;
		z-index: 1000;
		background-color: #FFF;
		box-sizing: border-box;
		overflow: auto;

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.search,
			.filter:not(.add) {
				position: relative;
				width: 100%;
				height: 65px;
				border-bottom: 1px solid $c-light-grey;

				input[type=text],
				input[type=list] {
					float: left;
					position: relative;
					width: calc(100% - 5px - 65px);
					height: 50px;
					margin: 15px 0 0 5px;
					border: none;
					outline: none;
					background-color: transparent;
					font-size: $t-mid;
					line-height: 1.5em;
					color: $c-dark-blue;
				}
				label {
					position: absolute;
					top: 5px;
					left: 5px;
					font-size: $t-main;
					line-height: 1.5em;
					color: $c-light-grey;
					transform: translateY(calc(#{$t-main}));
					transition: transform .25s, font-size .25s;
				}
				input[type=text] + label {
					pointer-events: none;
				}
				input[type=text]:focus + label,
				input[type=text].has-value + label {
					font-size: $t-small;
					line-height: 1.5em;
					transform: translateY(0);
				}
				input:-webkit-autofill,
				input:-webkit-autofill:hover,
				input:-webkit-autofill:focus,
				input:-webkit-autofill:active  {
					-webkit-box-shadow: 0 0 0 40px #FFF inset !important;
					-webkit-text-fill-color: $c-dark-blue !important;
				}
				button {
					float: left;
					width: 65px;
					height: 60px;
					margin-top: 5px;
					background-color: transparent;
					border: none;
					outline: none;
					color: $c-dark-blue;
					cursor: pointer;
				}
				img {
					width: 30px;
					height: 30px;
					margin: auto;
				}
			}
			.status {
				display: inline-block;

				menu {
					li {
						p {
							margin: 5px 0;
						}
					}
				}
			}

			.global-actions {
				width: calc(100% - 60px);
				margin-top: 10px;

				.add {
					display: inline-block;
					position: relative;
					width: 100%;
					border-bottom: 1px dotted $c-light-grey;

					input[type=text] {
						position: relative;
						width: calc(100% - 45px - 5px);
						height: 45px;
						padding: 0 0 0 5px;
						margin-top: 10px;
						border: none;
						outline: none;
						background-color: transparent;
						font-size: $t-main;
						color: $c-dark-blue;
					}
					input[type=text]:focus {
						border-bottom-color: $c-light-grey;
					}
					label {
						position: absolute;
						left: 5px;
						font-size: $t-small;
						line-height: 1.5em;
						color: $c-light-grey;
						transform: translateY(27.5px);
						transition: transform .25s, font-size .25s;
						pointer-events: none;
					}
					button {
						display: none;
						width: 45px;
						height: 45px;
						margin-top: 10px;
						background: url('../imgs/icons/i-add.svg');
						border: none;
						outline: none;
						float: right;
						cursor: pointer;
					}
					input[type=text]:focus + label,
					input[type=text].has-value + label {
						font-size: $t-xsmall;
						line-height: 1.5em;
						transform: translateY(2.5px);
					}
					input[type=text]:focus ~ button,
					input[type=text].has-value ~ button {
						display: block;
					}
					.dropdown {
						position: absolute;
						width: 100%;
						max-height: 0;
						left: 0;
						bottom: calc(100% + 1px);
						background-color: #FFF;
						box-shadow: 0px -10px 10px rgba(0,0,0,.1);
						overflow: auto;
						z-index: 10;
						transition: max-height 0.25s ease-out;

						menu {
							width: 100%;

							li {
								display: inline-block;
								width: 100%;
								margin: 0;
								list-style: none;

								input[type=radio] {
									display: none;
								}
								label {
									display: flex;
									align-items: center;
									min-height: 45px;
									position: static;
									padding: 5px 20px 5px 15px;
									cursor: pointer;
									font-size: $t-mid-small;
									line-height: 1.5em;
									color: $c-dark-grey;
									transform: none;
									pointer-events: all;
									cursor: pointer;

									.count {
										margin-left: auto;
										padding-left: 10px;
										color: $c-light-grey;
									}
								}
								input:checked + label {
									background-color: $c-light-2;
								}

								&:hover {
									background-color: $c-light-3;
								}
							}
						}
					}
				}
				button.download {
					min-height: 30px;
					padding: 0 10px;
					border: 1px solid $c-light-grey;
					outline: none;
					background-color: transparent;
					font-size: $t-small;
					line-height: 1.5em;
					color: $c-light-grey;
					cursor: pointer;
				}
			}
			.expand-filters {
				position: relative;
				vertical-align: middle;
				float: right;
				width: 30px;
				height: 30px;
				margin: 30px 15px 0 auto;
				background-color: transparent;
				outline: none;
				border: none;
				cursor: pointer;

				.line {
					position: absolute;
					top: 0;
					left: 0;
					height: 2px;
					background-color: $c-light-grey;
					transition: transform .25s, width .25s;
				}
				.l1 {
					width: 20px;
					transform: translate(5px, 7.5px)rotate(0deg);
					transform-origin: center;
					transition-delay: .1s;
				}
				.l2 {
					width: 15px;
					transform: translate(7.5px, 12.5px)rotate(0deg);
					transform-origin: center;
				}
				.l3 {
					width: 10px;
					transform: translate(10px, 17.5px)rotate(0deg);
					transform-origin: center;
					transition-delay: .1s;
				}
			}
			.expand-filters.close {
				.l1 {
					width: 25px;
					transform: translate(2.5px, 15px)rotate(-45deg);
					transform-origin: center;
				}
				.l2 {
					width: 0;
					transform: translate(15px, 12.5px)rotate(0deg);
				}
				.l3 {
					width: 25px;
					transform: translate(2.5px, 15px)rotate(45deg);
					transform-origin: center;
				}
			}
			.filters {
				display: flex;
				flex-wrap: wrap;
				width: calc(100% - 15px);
				max-height: 0;
				padding: 0 7.5px;
				overflow: hidden;
				background: repeating-linear-gradient(
					45deg,
					transparent,
					transparent 3px,
					rgba(150, 150, 150, .1) 3px,
					rgba(150, 150, 150, .1) 6px
				);
				transition: max-height 0.25s ease-out;

				section {
					flex-grow: 1;
					margin-top: 15px;
					padding: 0 7.5px;

					.filter {
						position: relative;
						width: 100%;
						height: 60px;
						background-color: #FFF;
						margin-bottom: 15px;

						input[type=text] {
							width: calc(100% - 30px);
							height: 45px;
							margin-left: 0;
							padding: 0 15px;
							font-size: $t-main;
							line-height: 1.5em;
						}
						label {
							left: 15px;
							font-size: $t-mid-small;
							line-height: 1.5em;
							transform: translateY(15px);
						}
						input[type=text]:focus + label,
						input[type=text].has-value + label {
							font-size: $t-xsmall;
							line-height: 1.5em;
							transform: translateY(0);
						}
						.dropdown {
							position: absolute;
							width: 100%;
							max-height: 0;
							left: 0;
							top: calc(100% + 1px);
							background-color: #FFF;
							box-shadow: 0px 10px 10px rgba(0,0,0,.1);
							overflow: auto;
							z-index: 100;
							transition: max-height 0.25s ease-out;

							&.dropup {
								top: auto;
								bottom: 100%;
								box-shadow: 0px -10px 10px rgba(0,0,0,.1);
							}

							menu {
								width: 100%;

								li {
									width: 100%;
									min-height: 45px;
									margin: 0;

									input {
										display: none;
									}
									label {
										display: flex;
										justify-content: space-between;
										align-items: center;
										position: static;
										width: calc(100% - 35px);
										min-height: 45px;
										height: 100%;
										padding: 5px 20px 5px 15px;
										color: $c-dark-grey;
										font-size: $t-mid-small;
										line-height: 1.5em;
										transform: none;

										.count {
											color: $c-light-grey;
											margin-left: 15px;
										}
									}
									input:checked + label {
										background-color: $c-light-blue;

										.count {
											color: #FFF;
										}
									}
								}
								li:hover {
									background-color: $c-light-3;
								}
							}
						}
					}
					.filter:last-child {
						margin-bottom: 0;
					}
					.active-filters {
						margin: -15px auto 15px auto;
						padding: 10px 15px;
						border: 1px dotted $c-light-grey;
						border-top: none;
						width: calc(100% - 30px);
						box-sizing: border-box;

						.tag {
							display: inline-block;
							height: 30px;
							padding: 0;
							margin: 2.5px;
							font-size: $t-mid-small;
							line-height: 1.5em;
							border: 1px solid $c-light-grey;
							color: $c-light-grey;
							white-space: nowrap;

							label {
								cursor: pointer;
								vertical-align: middle;
								position: static;
								font-size: $t-small;
								line-height: 1.5em;
							}
							.name {
								margin: 0 10px;
								white-space: nowrap;
								color: $c-dark-grey;
							}
							.close {
								display: inline-block;
								position: relative;
								width: 30px;
								height: 30px;
								background-color: $c-light-grey;
								padding: 0;
								float: none;
								transform: none;
								top: 0;

								&::before {
									content: '';
									position: absolute;
									height: 100%;
									width: 0;
									left: 50%;
									border-left: 1px solid #FFF;
									transform: rotate(45deg);
									transform-origin: center;
								}
								&::after {
									content: '';
									position: absolute;
									height: 100%;
									width: 0;
									left: 50%;
									border-left: 1px solid #FFF;
									transform: rotate(-45deg);
									transform-origin: center;
								}
							}
						}
					}
				}
				/*section:nth-child(odd):not(:last-child) {
					margin-right: 15px;
				}*/
				.break {
					flex-basis: 100%;
					width: 0;
				}
				button.submit-filters {
					width: calc(100% - 15px);
					height: 45px;
					padding: 0 10px;
					margin: 15px 0 15px 7.5px;
					border: 1px solid $c-dark-blue;
					outline: none;
					background-color: transparent;
					font-size: $t-main;
					line-height: 1.5em;
					cursor: pointer;
				}
				.status {
					display: block;
					width: 100%;

					menu {
						margin: auto;

						input.toggle + label {
							background-color: #FFF;
						}
					}
				}
			}
		}
	}

	nav:not(.tabs) {
		width: 100%;
		margin: 0 0 30px 0;

		menu,
		ul  {
			li {
				display: inline-block;
				margin: 0 15px 0 0;

				a {
					button {
						height: 45px;
						padding: 0 10px 0 30px;
						border: none;
						outline: none;
						border-radius: 45px;
						border: 1px solid $c-mid-blue;
						background-color: transparent;
						font-size: $t-mid-small;
						line-height: 1.5em;
						color: $c-mid-blue;
						cursor: pointer;

						.count {
							vertical-align: middle;
							display: inline-block;
							width: 30px;
							height: 30px;
							background-color: $c-mid-blue;
							border-radius: 30px;
							margin: -1px 0 0 10px;
							line-height: 30px;
							font-size: $t-xsmall;
							line-height: 1.5em;
							font-weight: bold;
							color: #FFF;
						}
					}
				}
			}
			li.active {
				a {
					button {
						background-color: $c-mid-blue;
						color: #FFF;

						.count {
							background-color: #FFF;
							color: $c-mid-blue;
						}
					}
				}
			}
		}
		p {
			margin: 15px 0 0 0;
			font-size: $t-small;
			line-height: 1.5em;
			color: $c-light-grey;
		}
	}

	main {
		padding-bottom: 15px;

		.inner {
			small.no-results {
				display: block;
				width: 100%;
				font-size: $t-small;
				color: $c-light-grey;
				text-align: center;
			}
			.meta-status {
				top: 30px;
				width: 100%;
				min-height: 60px;
				margin: -15px 0 30px -15px;
				padding: 15px;
				z-index: 100;

				form {
					display: grid;
					grid-template-columns: 7fr 3fr;
					grid-gap: 15px;

					.opts {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 15px;

						list-style: none;
						justify-content: center;

						li {
							display: inline-block;
							vertical-align: top;

							p {
								display: inline-block;
								font-size: $t-small;
								line-height: 1.5em;
								color: $c-light-grey;
							}
							p.disabled {
								color: $c-light-2;
							}
							input.toggle + label {
								display: inline-block;
								vertical-align: middle;
								margin-top: 5px;
								margin-bottom: 5px;
							}

							ul {
								li {
									display: block;
									border: none;
									padding: 0;
									margin: 0;
								}
							}
						}
					}
					.btn-group {
						display: grid;
						grid-gap: 5px;
						grid-template-columns: repeat(2, 1fr);
						min-height: 30px;
						margin: 0 0 0 auto;
						justify-content: right;
						align-content: start;

						button {
							height: 30px;
							padding: 0 10px;
							border: 1px solid $c-dark-blue;
							outline: none;
							background-color: transparent;
							font-size: $t-mid-small;
							line-height: 1.5em;
							cursor: pointer;
						}
						button.publish {
							background-color: $c-light-blue;
							border-color: $c-light-blue;
							color: #FFF;
						}
						button:disabled {
							background-color: transparent;
							border: 1px solid $c-light-2;
							color: $c-light-2;
							pointer-events: none;
							cursor: default;
						}
					}
				}
			}
			.meta-status.status-0 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(255, 193, 14, .1) 3px,
					rgba(255, 193, 14, .1) 6px
				);
			}
			.meta-status.status-1 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(50, 190, 225, .1) 3px,
					rgba(50, 190, 225, .1) 6px
				);
			}
			.meta-status.status-2 {
				background: repeating-linear-gradient(
					-45deg,
					transparent,
					transparent 3px,
					rgba(150, 150, 150, .1) 3px,
					rgba(150, 150, 150, .1) 6px
				);
			}
			.head {
				position: relative;
				width: 100%;
				margin: 0 0 15px 0;

				.return {
					display: block;
					margin-bottom: 15px;
				}
				.title {
					width: 100%;
					outline: none;
					margin-bottom: 15px;
					border-bottom: 1px solid transparent;
					font-size: $t-xlarge;
					line-height: 1.3em;
					font-weight: 700;
				}
				.title:focus {
					border-bottom-color: $c-light-yellow;
				}
				.contributor {
					font-size: $t-small;
					line-height: 1.5em;
					color: $c-mid-blue;
				}
				.description {
					margin-bottom: 25px;
					padding-bottom: 5px;
					font-size: $t-mid;
					line-height: 1.5em;
					border-top: none;
					outline: none;
					color: $c-dark-blue;
					border-bottom: 1px solid transparent;
					white-space: pre-line;
				}
				.description:focus {
					border-bottom-color: $c-light-yellow;
				}
			}

			section {
				.layout {
					margin-top: 15px;

					article {
						position: relative;
						display: flex;
						padding: 15px 0 15px 15px;
						margin-bottom: 15px;
						box-shadow: 0 10px 0px rgba(0,0,0,.1);
						box-sizing: border-box;
						border: 1px solid $c-mid-grey;

						.inner {
							width: 100%;
							transition: width .25s;

							.head {
								margin-top: 0;
								margin-bottom: 0;

								.meta-group {
									display: grid;
									grid-gap: 30px;
									grid-template-columns: repeat(2, 1fr);

									.meta-data {
										margin-bottom: 0;

										.meta-contributor {
											font-size: $t-mid-small;
											line-height: 1.5em;
											color: $c-mid-blue;
										}
										.meta-date {
											font-size: $t-small;
											line-height: 1.5em;
											color: $c-mid-blue;
										}
									}
									.btn-group {
										display: grid;
										grid-gap: 5px;
										grid-template-columns: repeat(2, 1fr);
										margin: -16px -1px 0 auto;
										justify-content: right;
										align-content: start;

										form {
											position: relative;

											button {
												min-height: 30px;
												width: 100%;
												padding: 0 10px;
												border: 1px solid $c-light-grey;
												outline: none;
												background-color: transparent;
												font-size: $t-small;
												line-height: 1.5em;
												color: $c-light-grey;
												cursor: pointer;
											}
											button.publish,
											button.share,
											button.active {
												background-color: $c-light-blue;
												border-color: $c-light-blue;
												color: #FFF;
											}
											button.delete.active,
											button.unpublish.active {
												border-color: $c-dark-red;
												background-color: $c-dark-red;
											}
											button:disabled {
												background-color: transparent;
												border: 1px solid $c-light-2;
												color: $c-light-2;
												pointer-events: none;
												cursor: default;
											}
											.dropdown {
												position: absolute;
												min-width: 200px;
												max-height: 0;
												left: 0;
												top: calc(100% - 1px);
												background-color: #FFF;
												box-shadow: 0px 10px 10px rgba(0,0,0,.1);
												overflow: hidden;
												z-index: 100;
												transition: max-height 0.15s ease-out;

												menu {
													width: 100%;
													border-top: 1px solid $c-light-grey;

													li {
														width: 100%;
														margin: 0;
														list-style: none;

														button {
															border: none;
															/*color: $c-dark-grey;*/
														}
													}
													li:hover {
														background-color: $c-light-3;
													}
												}
											}
										}
										form:first-child {
											margin-left: 0;
										}
										form:last-child {
											margin-right: 0;
										}
									}
								}
							}
							.body {
								padding-right: 15px;

								.meta, .media {
									margin: 10px 0;
								}
								.media-title {
									margin-top: 15px;
									margin-bottom: 0;

									a {
										color: $c-dark-blue;

										h1 {
											font-size: $t-mid;
											line-height: 1.3em;
											font-weight: bold;
											cursor: pointer;

											img {
												vertical-align: sub;
												width: 30px;
												height: 30px;
												cursor: pointer;
											}
										}
									}
								}
								.media-txt {
									display: block;
									margin-bottom: 10px;
									font-size: $t-mid-small;
									line-height: 1.3em;
									white-space: pre-line;

									a {
										color: $c-dark-grey;

										.read-more {
											color:  $c-light-blue;
										}
									}
									a:hover {
										text-decoration: none;

										.read-more {
											text-decoration: underline;
										}
									}
								}
								.meta-mobilization,
								.meta-template {
									display: inline-block;
									font-size: $t-small;
									line-height: 1.5em;
									margin-bottom: 10px;
								}
								.meta-tree {
									display: flex;
									align-items: center;

									.meta-versiontree {
										margin-right: 10px;

										a {
											img {
												width: 30px;
												height: 30px;
												cursor: pointer;
											}
										}
									}
								}
								.meta-mobilization,
								.meta-template,
								.meta-followup,
								.meta-forward,
								.meta-public,
								.meta-copy,
								.meta-child {
									color: $c-light-grey;
									margin-top: 0;
									/*margin-bottom: 10px;*/
								}
								.meta-mobilization {
									padding-right: 10px;
									margin-right: 10px;
									border-right: 1px solid $c-light-grey;
								}
								.meta-followup,
								.meta-forward,
								.meta-public,
								.meta-copy,
								.meta-child {
									width: 100%;
									margin: 0 0 10px 0;
								}
								.create {
									position: relative;
									display: inline-block;
									margin: 5px 10px 10px 0;

									button {
										height: 45px;
										padding: 0 15px;
										border: 1px solid $c-light-blue;
										outline: none;
										background-color: $c-light-blue;
										font-size: $t-mid-small;
										line-height: 1.5em;
										color:  #FFF;
										cursor: pointer;
									}
									.dropdown {
										position: absolute;
										min-width: 100%;
										max-width: 300px;
										max-height: 0;
										left: 0;
										top: 100%;
										background-color: #FFF;
										box-shadow: 0px 10px 10px rgba(0,0,0,.1);
										overflow: auto;
										z-index: 10;
										transition: max-height 0.25s ease-out;

										menu {
											width: 100%;
											border-top: 1px solid $c-light-grey;

											li {
												display: inline-block;
												width: 100%;
												margin: 0;
												list-style: none;
												white-space: pre;

												a {
													button {
														min-height: 45px;
														padding: 5px 15px;
														font-size: $t-mid-small;
														background-color: transparent;
														border: none;
														color: $c-dark-grey;
														text-align: left;
													}
												}

												&:hover {
													background-color: $c-light-3;
												}
											}
										}
									}
								}
							}
							.body.full-width {
								grid-column: 1 / span 2;

								.media-title {
									width: calc(100% - 330px);
								}
							}
							.foot {
								.media-img {
									position: relative;
									width: 300px;
									height: 200px;
									display: flex;
									align-items: flex-end;

									a {
										display: block;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;

										img {
											display: block;
											width: 100%;
											background-color: $c-light-2;
											height: 100%;
											font-size: $t-small;
											line-height: 1.5em;
											line-height: 200px;
											text-align: center;
										}
									}
								}
								.meta-group {
									display: grid;
									grid-gap: 15px;
									grid-auto-flow: column;
									height: 100%;
									padding: 15px 15px 15px 0;
									box-sizing: border-box;
									justify-content: center;

									.meta-stats {
										a {
											h1 {
												text-align: center;
												cursor: pointer;

												small {
													font-size: $t-small;
													line-height: 1.5em;
													display: block;
													cursor: pointer;
												}
												small.total {
													display: inline-block;
													font-weight: normal;
												}
											}
										}
										a:hover {
											text-decoration: none;

											h1 {
												small {
													text-decoration: underline;
												}
											}
										}
										a.disabled {
											color: $c-dark-blue;

											h1 {
												small {
													text-decoration: none !important;
												}
											}
										}
									}
								}
							}
							.pinboard-group {
								width: 100%;
								margin-top: 10px;

								.add {
									display: inline-block;
									position: relative;
									width: 100%;
									margin: 5px 15px 0 0;

									input[type=text] {
										position: relative;
										width: calc(100% - 45px);
										height: 45px;
										padding: 0;
										margin-top: 10px;
										border: none;
										outline: none;
										background-color: transparent;
										border-bottom: 1px dotted transparent;
										font-size: $t-main;
										line-height: 1.5em;
										color: $c-dark-blue;
									}
									input[type=text]:focus {
										border-bottom-color: $c-light-grey;
									}
									label {
										position: absolute;
										left: 0;
										font-size: $t-mid-small;
										line-height: 1.5em;
										color: $c-light-grey;
										transform: translateY(27.5px);
										transition: transform .25s, font-size .25s;
										pointer-events: none;
									}
									button {
										display: none;
										width: 45px;
										height: 45px;
										margin-top: 7.5px;
										background: url('../imgs/icons/i-add.svg');
										border: none;
										outline: none;
										float: right;
										cursor: pointer;
									}
									input[type=text]:focus + label,
									input[type=text].has-value + label {
										font-size: $t-small;
										line-height: 1.5em;
										transform: translateY(0);
									}
									input[type=text]:focus ~ button,
									input[type=text].has-value ~ button {
										display: block;
									}
									.dropdown {
										position: absolute;
										width: 100%;
										max-height: 0;
										left: 0;
										top: calc(100% + 1px);
										background-color: #FFF;
										box-shadow: 0px 10px 10px rgba(0,0,0,.1);
										overflow: auto;
										z-index: 10;
										transition: max-height 0.25s ease-out;

										&.dropup {
											top: auto;
											bottom: 100%;
											box-shadow: 0px -10px 10px rgba(0,0,0,.1);
										}

										menu {
											width: 100%;

											li {
												display: flex;
												align-items: center;
												width: 100%;
												margin: 0;
												list-style: none;

												input[type=checkbox] {
													display: none;
												}
												label {
													display: flex;
													justify-content: space-between;
													align-items: center;
													position: static;
													width: 100%;
													min-height: 45px;
													padding: 0 20px 0 15px;
													cursor: pointer;
													font-size: $t-mid-small;
													line-height: 1.5em;
													color: $c-dark-grey;
													transform: none;
													pointer-events: all;
													cursor: pointer;

													.count {
														float: right;
														color: $c-light-grey;
													}
												}
												input:checked + label {
													background-color: $c-light-2;
												}

												&:hover {
													background-color: $c-light-3;
												}
											}
										}
									}
								}
								.pin {
									display: inline-block;
									height: 30px;
									padding: 0;
									margin-right: 5px;
									font-size: $t-small;
									line-height: 30px;
									border: 1px solid $c-light-grey;
									color: $c-light-grey;

									label {
										cursor: pointer;
										vertical-align: top;
									}
									.type {
										flex-shrink: 0;
									}
									.name {
										flex-grow: 1;
										margin: 0 10px;
										white-space: nowrap;
									}
									.close {
										display: inline-block;
										position: relative;
										width: 30px;
										height: 30px;
										background-color: $c-light-grey;
										text-align: center;
										font-size: $t-small;
										color: #FFF;

										&::before {
											content: '';
											position: absolute;
											height: 100%;
											width: 0;
											left: 50%;
											border-left: 1px solid #FFF;
											transform: rotate(45deg);
											transform-origin: center;
										}
										&::after {
											content: '';
											position: absolute;
											height: 100%;
											width: 0;
											left: 50%;
											border-left: 1px solid #FFF;
											transform: rotate(-45deg);
											transform-origin: center;
										}
									}
								}
							}
						}
						.outer {
							position: relative;
							flex-grow: 0;
							flex-shrink: 0;
							background-color: #FFF;

							.inner {
								display: flex;
								position: relative;
								z-index: 1;
								width: 0;
								height: calc(100% - 1px);
								padding: 25px 0 0 0;
								margin-top: -25px;
								border-bottom: 1px dotted $c-light-grey;
								transition: width .25s;
								overflow: hidden;

								background: repeating-linear-gradient(
									45deg,
									#FFF,
									#FFF 3px,
									rgba(165, 30, 65, .1) 3px,
									rgba(165, 30, 65, .1) 6px
								);

								form {
									display: flex;
									flex-direction: column;
									justify-content: center;
									width: 100%;

									button {
										width: calc(100% - 30px);
										height: 45px;
										margin: 5px 15px;
										border: none;
										outline: none;
										border: 1px solid $c-dark-red;
										background-color: transparent;
										font-size: $t-mid-small;
										line-height: 1.5em;
										color: $c-dark-red;
										cursor: pointer;
										overflow: hidden;
									}
									button.cancel {
										border-color: $c-mid-grey;
										color: $c-mid-grey;
									}
								}
							}
							&::before {
								content: '';
								position: absolute;
								z-index: 0;
								width: 100%;
								height: 25px;
								top: -25px;
								background-color: #FFF;
							}
							/*&::after {
								content: '';
								position: absolute;
								z-index: 0;
								width: 100%;
								height: 15px;
								top: 100%;
								background-color: #FFF;
							}*/
						}
						.outer.expand {
							.inner {
								width: 120px;
							}
						}
					}
					/*article:not(.pad) {
						border-bottom: 1px dotted $c-light-grey;
						padding-top: 15px;
					}*/
					article.status--1 {
						filter: grayscale(1);
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(150, 150, 150, .1) 3px,
							rgba(150, 150, 150, .1) 6px
						);
					}
					article.status-0 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(255, 193, 14, .1) 3px,
							rgba(255, 193, 14, .1) 6px
						);
					}
					article.status-1 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(50, 190, 225, .1) 3px,
							rgba(50, 190, 225, .1) 6px
						);
					}
					article.status-2 {
						margin-bottom: 30px;
					}
					article.mobilization.status-0 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 3px,
							rgba(150, 150, 150, .1) 3px,
							rgba(150, 150, 150, .1) 6px
						);
					}
					.tag-group {
						.meta-tags {
							margin-left: -2px;

							a {
								display: inline-block;
								color: $c-mid-blue;

								/*.tag {
									border: 1px solid $c-mid-blue;
									padding: 0 10px;
									margin-right: 5px;
									font-size: $t-small;
									line-height: 1.5em;

									label {
										cursor: pointer;
									}
								}*/

								.tag {
									border: none;
									padding: 0 15px;
									margin: 0 5px 5px 0;
									background-color: $c-light-2;
									border-radius: calc(#{$t-mid-small} * 1.75);
									font-size: $t-mid-small;
									line-height: 1.75em;
									color: $c-mid-grey;

									label {
										cursor: pointer;
									}
								}
							}
							a:hover {
								text-decoration: none;
							}
						}
						.meta-sdgs {
							font-size: $t-mid-small;
							line-height: 1.5em;

							span {
								margin-right: 5px;
								color: $c-light-grey;
							}
							a {
								display: inline-block;
								margin: 0 5px;
								font-size: $t-mid-small;
								line-height: 1.2em;
								font-weight: bold;
							}
						}
					}
					.engagement-group {
						margin-top: 10px;

						.engagement {
							display: inline-block;
							border: none;
							outline: none;
							background-color: transparent;

							img {
								vertical-align: middle;
								width: 45px;
								height: 45px;
								cursor: pointer;
							}
							span {
								display: inline-block;
								margin-right: 5px;
								text-align: center;
								font-size: $t-small;
								color: $c-light-grey;
							}
						}
						.engagement:disabled {
							img {
								cursor: initial;
								opacity: .5;
							}
						}
					}
				}
				.layout.columns {
					article {
						width: 100%;
						height: 100%;
						vertical-align: top;
						grid-column: span 1;
						padding: 0 0 15px 0;
						border-bottom: none;
						margin-bottom: 60px;
						box-shadow: 0 10px 0px rgba(0,0,0,.1);
						box-sizing: border-box;
						border: 1px solid $c-mid-grey;

						.inner {
							display: block;

							.head {
								display: block;

								.btn-group {
									margin: -1px 0 15px -1px;
									text-align: left;

									display: grid;
									grid-gap: 5px;
									grid-template-columns: repeat(3, 1fr);
									justify-content: left;
									width: calc(100% + 2px);

									form {
										position: relative;

										button {
											min-height: 45px;
											width: 100%;
											padding: 0 15px;
											border: 1px solid $c-light-grey;
											outline: none;
											background-color: transparent;
											font-size: $t-mid-small;
											line-height: 1.5em;
											color: $c-light-grey;
											cursor: pointer;
										}
										button.publish,
										button.share,
										button.active {
											background-color: $c-light-blue;
											border-color: $c-light-blue;
											color: #FFF;
										}
										button.delete.active,
										button.unpublish.active {
											border-color: $c-dark-red;
											background-color: $c-dark-red;
										}
										button:disabled {
											background-color: transparent;
											border: 1px solid $c-light-2;
											color: $c-light-2;
											pointer-events: none;
											cursor: default;
										}
										.dropdown {
											position: absolute;
											max-height: 0;
											left: 50%;
											top: calc(100% - 1px);
											background-color: #FFF;
											box-shadow: 0px 10px 10px rgba(0,0,0,.1);
											transform: translateX(-50%);
											overflow: hidden;
											z-index: 100;
											transition: max-height 0.15s ease-out;

											menu {
												width: 100%;
												border-top: 1px solid $c-light-grey;

												li {
													width: 100%;
													margin: 0;
													list-style: none;

													button {
														padding: 5px 15px;
														border: none;
													}
												}
												li:hover {
													background-color: $c-light-3;
												}
												li:not(:last-child) {
													border-bottom: 1px dotted $c-light-grey;
												}
											}
										}
									}
									form:first-child {
										margin-left: 0;
									}
									form:last-child {
										margin-right: 0;
									}
								}
								.media-img {
									position: relative;
									width: 100%;
									height: auto;
									min-width: calc(300px - 2px);
									min-height: auto;
									margin-bottom: 15px;
									display: flex;
									align-items: flex-end;

									a {
										display: block;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;

										img {
											display: block;
											width: 100%;
											background-color: $c-light-2;
											height: auto;
											min-height: 200px;
											font-size: $t-small;
											line-height: 1.5em;
											line-height: 200px;
											text-align: center;
										}
									}
								}
							}
							.body {
								display: block;
								width: 100%;
								padding: 0 15px;
								margin-right: 0;
								box-sizing: border-box;

								.meta-data {
									margin-bottom: 10px;

									.meta-contributor {
										margin: 0;
										font-size: $t-main;
										line-height: 1.5em;
										color: $c-mid-blue;
									}
									.meta-date {
										margin: 0;
										font-size: $t-mid-small;
										line-height: 1.5em;
										color: $c-mid-blue;
									}
								}
								.media-title {
									margin: 10px 0 5px 0;
								}
								.meta-mobilization,
								.meta-template {
									display: block;
									padding: 0;
									margin: 0;
									border: none;
								}
							}
							.foot {
								.meta, .media {
									margin: 5px 0;
								}
								.meta-group {
									display: flex;
									justify-content: center;
									width: 100%;
									height: 100%;
									margin: 15px 0;

									.meta-stats {
										margin: auto 15px;

										a {
											h1 {
												text-align: center;
												cursor: pointer;

												small {
													font-size: $t-small;
													line-height: 1.5em;
													font-weight: normal;
													display: block;
													cursor: pointer;
												}
												small.total {
													display: inline-block;
													font-weight: normal;
												}
											}
										}
										a:hover {
											text-decoration: none;

											h1 {
												small {
													text-decoration: underline;
												}
											}
										}
										a.disabled {
											color: $c-dark-blue;

											h1 {
												small {
													text-decoration: none !important;
												}
											}
										}
									}
								}
							}
						}
						.outer {
							top: 15px;
							height: 0;
							transition: height .25s;
							overflow: hidden;
							margin-top: 0;

							.inner {
								width: 100%;
								height: auto;
								margin-top: 0;
								padding: 15px 0;
							}
							&::before {
								height: 0;
								top: 0;
							}
							&::after {
								height: 0;
							}
						}
						.outer.expand {
							height: calc(55px * 2 + 15px * 2);
						}
					}
					/*article:not(.pad) {
						border-bottom: 1px dotted $c-light-grey;
						padding-bottom: 15px;
						margin-bottom: 15px;
					}*/
					.engagement-group {
						padding: 0 10px;
						box-sizing: border-box;
					}
					.pinboard-group {
						padding: 0 15px;
						box-sizing: border-box;
					}
				}
			}
		}
	}
}
div.browse.slideshow {
	padding: 0 15px;
	margin: 0;
	border: none;
	min-height: 0;
	height: calc(100vh - 45px);

	/*nav.tabs {
		left: calc((100vw - (300px * 3 + 15px * 2)) / 2);
	}*/
	button.slide-nav {
		position: fixed;
		top: 0;
		width: 60px;
		height: 100vh;
		background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 3px,
			rgba(150, 150, 150, .1) 3px,
			rgba(150, 150, 150, .1) 6px
		);

		border: none;
		outline: none;
		color: $c-light-grey;
		font-size: $t-xxlarge;
		line-height: 1.5em;
		cursor: pointer;
		transition: background .25s;
		z-index: 1001;
	}
	button.slide-nav.prev {
		left: 0;
	}
	button.slide-nav.next {
		right: 0;
	}
	button.slide-nav:hover {
		background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 3px,
			rgba(50, 190, 225, .1) 3px,
			rgba(50, 190, 225, .1) 6px
		);
	}

	main {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		padding-bottom: 0;

		.inner {
			height: 100%;

			section {
				height: 100%;

				.layout {
					display: grid;
					grid-gap: 0;
					grid-auto-flow: column;
					position: relative;
					height: 100%;
					scroll-snap-type: x mandatory;
					overflow: auto;
					margin-top: 0;

					article {
						position: relative;
						width: 100vw;
						height: 100%;
						scroll-snap-align: center;
						padding: 0;
						border: none;

						.inner {
							display: flex;
							justify-content: center;
							flex-flow: unset;
							flex-direction: column;
							flex: none;
							width: 100vw;
							height: 100%;
							box-sizing: border-box;
							padding: 0 60px 0 60px;

							.head {
								flex: unset;
								position: static;
								
								.meta-group {
									position: relative;
									padding: 0 15px;
									z-index: 10;
									opacity: 0;
									transition: opacity 1s;

									.meta-data {
										.meta-contributor {
											a {
												color: $c-light-green;
											}
										}
										.meta-date {
											color: $c-mid-green;
										}
									}
								}
								.media-img {
									position: absolute;
									top: 45px;
									left: 0;
									width: 100vw;
									height: calc(100vh - 45px);
									z-index: 0;
									overflow: hidden;
									transition: opacity .5s;

									a {
										display: flex;
										justify-content: center;
										align-items: center;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;
										pointer-events: none;

										img {
											display: block;
											max-width: calc(100% - 120px);
											background-color: $c-light-2;
											font-size: $t-small;
											line-height: 1.5em;
											line-height: calc(75vh);
											text-align: center;
											object-fit: contain;
										}
									}
								}
							}
							.body {
								position: relative;
								flex: unset;
								margin-bottom: 0;
								padding: 0 15px;
								z-index: 10;
								opacity: 0;
								transition: opacity 1s;

								.media-title,
								.media-txt {
									a {
										color: #FFF;

										h1 {
											color: #FFF;

											img {
												filter: brightness(2);
											}
										}
										.read-more {
											color: $c-light-green;
										}
									}
								}
								.tag-group {
									.meta-sdgs {
										span {
											color: $c-mid-green;
										}
										a {
											color: $c-light-green;
										}
									}
									.meta-tags {
										margin-left: -5px;
										a {
											.tag {
												margin: 0 5px;
												background-color: #FFF;
												color: $c-dark-blue;
											}
										}
									}
								}
							}
						}
						.inner.centered {
							justify-content: center;

							.body {
								margin-bottom: 0;
							}
						}
						.outer {
							display: none;
						}

						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 60px;
							width: calc(100% - 120px);
							height: 100%;
							opacity: 0;
							background-color: $c-mid-blue;
							transition: opacity .5s;
						}
					}
					article:hover {
						background-color: transparent;

						.inner {
							.head {
								.meta-group {
									opacity: 1;
								}
								.media-img {
									opacity: .25;
								}

							}
							.body {
								opacity: 1;
							}
						}

						&::after {
							opacity: .75;
						}
					}
				}
			}
		}
	}
}
footer.slideshow {
	position: fixed;
	bottom: 0;
	background-color: transparent;
	z-index: 100;

	.inner {
		border: none;
		width: 100%;
		box-sizing: border-box;

		div.dots {
			width: 100%;
			text-align: center;

			.dot {
				height: 15px;
				width: 15px;
				margin: 0 5px;
				background-color: rgba(0,0,0,.1);
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.25s ease;
				cursor: pointer;
			}
			.highlight {
				background-color: $c-mid-green;
			}
		}
	}
}


div.browse.public {
	padding: 60px 15px 0 15px;
}
nav.pagination {
	width: 100%;
	text-align: center;
	padding-bottom: 60px;

	.inner {
		display: initial;
		position: static;

		ul {
			padding: 0 15px;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 5px;

				a.page-link.active {
					font-weight: 700;
					text-decoration: underline;
				}
			}
			li.disabled {
				color: $c-light-grey;
			}
		}
	}

	img {
		width: 180px;
		height: auto;
	}
}
