.engagement-group {
	margin-top: 10px;

	.engagement {
		display: inline-block;
		border: none;
		outline: none;
		background-color: transparent;

		img {
			vertical-align: middle;
			width: 45px;
			height: 45px;
			cursor: pointer;
		}
		span {
			display: inline-block;
			margin-right: 5px;
			text-align: center;
			font-size: $t-small;
			color: $c-light-grey;
		}
	}
	.engagement:disabled {
		img {
			cursor: initial;
			opacity: .5;
		}
	}
}