.goog-te-gadget-simple {
    width: 0px !important;
}

.googletranslator {
    padding-left: 0;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    margin-top: 30px;
}

#goog-gt-tt {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}

#gtranslate-dummy-lang {
    width: 100px !important;
}
