nav#languages {
	position: fixed;
	display: flex;
	width: 100%;
	height: 45px;
	top: 0;
	font-size: $t-small;
	background-color: $c-dark-blue;
	text-align: center;
	z-index: 10000;

	menu {
		display: flex;
		justify-content: space-between;
		width: 100%;

		li {
			display: inline-block;
			min-width: 30px;
			height: 45px;
			line-height: 45px;

			a {
				color: #FFF;
			}
			a.active {
				color: $c-light-green;
				text-decoration: underline;
			}
		}
		li.home-btn {
			flex-grow: 1;
			padding-left: 15px;
			white-space: nowrap;
			text-align: left;

			a {
				color: $c-light-green;
			}
		}
		li.options {
			flex-grow: 1;
			ul {
				li {
					display: inline-block;
				}
			}
		}
		li.disabled {
			a {
				color: $c-mid-grey;
				cursor: default;
			}
			a.active {
				text-decoration: underline;
			}
		}
		li.user-id {
			flex-grow: 1;
			padding-right: 15px;
			text-align: right;
			color: #FFF;

			u {
				color: $c-light-green;
			}
		}
	}
}
button#expand-nav {
	position: fixed;
	display: block;
	top: 15px;
	left: 15px;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 1px solid $c-light-2;
	outline: none;
	background-color: #FFF;
	z-index: 10000;
	box-shadow: 0 0 10px rgba(0,0,0,.25);

	.line {
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		background-color: $c-light-grey;
		transition: transform .25s, width .25s;
	}
	.l1 {
		width: 20px;
		transform: translate(20px, 22.5px)rotate(0deg);
		transform-origin: center;
		transition-delay: .1s;
	}
	.l2 {
		width: 15px;
		transform: translate(22.5px, 27.5px)rotate(0deg);
		transform-origin: center;
	}
	.l3 {
		width: 10px;
		transform: translate(25px, 32.5px)rotate(0deg);
		transform-origin: center;
		transition-delay: .1s;
	}

}
button#expand-nav.close {
	.l1 {
		width: 25px;
		transform: translate(17.5px, 27.5px)rotate(-45deg);
		transform-origin: center;
	}
	.l2 {
		width: 0;
		transform: translate(30px, 30px)rotate(0deg);
	}
	.l3 {
		width: 25px;
		transform: translate(17.5px, 27.5px)rotate(45deg);
		transform-origin: center;
	}
}
nav.tabs {
	position: fixed;
	top: 45px;
	width: 100%;
	height: 45px;
	left: 0;
	margin-left: 0;
	border-bottom: 1px solid $c-dark-blue;
	background-color: #FFF;
	z-index: 100;

	.inner {
		width: 100%;

		.sm {
			display: flex;
			justify-content: center;
			align-items: center;

			.spaces {
				flex-grow: 1;

				button.space {
					display: block;
					position: relative;
					height: 45px;
					min-width: 300px;
					border: none;
					outline: none;
					background-color: transparent;
					font-weight: bold;
					font-size: $t-main;
					cursor: pointer;
					margin: auto;
					padding-left: 45px;

					&::after {
						content: '>';
						position: absolute;
						height: 45px;
						top: 0;
						color: $c-light-grey;
						text-align: center;
						transform: rotate(90deg);
						font-weight: normal;
					}
				}
				.count {
					position: relative;
					display: inline-block;
					font-size: $t-small;
					font-weight: normal;
					margin: 0 0 0 15px;
					color: $c-light-grey;
				}
				.count::before {
					content: '';
					position: absolute;
					height: 20px;
					width: 0;
					left: -10px;
					top: -2px;
					border-left: 1px dotted $c-light-grey;
				}

				.dropdown {
					position: absolute;
					max-height: 0;
					left: 50%;
					transform: translateX(-50%);
					top: calc(100% + 1px);
					width: 300px;
					background-color: #FFF;
					box-shadow: 0px 10px 10px rgba(0,0,0,.1);
					overflow: hidden;
					z-index: 100;
					transition: max-height 0.25s ease-out;

					menu,
					ul {
						border-top: 1px solid $c-dark-blue;

						li {
							position: relative;
							display: block;

							a {
								display: block;

								&:hover {
									text-decoration: none;
								}
							}

							button {
								display: flex;
								justify-content: space-between;
								align-items: center;
								position: relative;
								width: 100%;
								min-height: 45px;
								padding: 0;
								outline: none;
								border: none;
								background-color: transparent;
								font-size: $t-main;
								line-height: 1.5em;
								color: $c-light-grey;
								font-weight: normal;
								cursor: pointer;
								overflow: hidden;
								padding: 0 30px;
								text-align: left;

								.count::before {
									content: none;
								}

							}
							button:hover,
							input[type=text]:hover:not(:focus) {
								background-color: $c-light-2 !important;
							}

							input[type=text] {
								position: relative;
								width: calc(100% - 90px);
								height: 38px;
								padding: 4.5px 45px 0 45px;
								border: none;
								outline: none;
								background-color: transparent;
								font-size: $t-main;
								color: $c-dark-blue;
								text-align: left;
								border-bottom: 1px solid #FFF;

								&:focus {
									border-bottom: 1px solid $c-light-grey;
								}
							}
							label {
								position: absolute;
								width: 100%;
								left: 45px;
								font-size: $t-main;
								line-height: 1.5em;
								color: $c-light-grey;
								transform: translateY(10px);
								transition: transform .25s, font-size .25s;
								text-align: left;

								.count {
									position: relative;
									display: inline-block;
									font-size: $t-small;
									margin: 0 0 5px 15px;
									color: $c-light-grey;
								}
								.count::before {
									content: '';
									position: absolute;
									vertical-align: middle;
									height: 20px;
									width: 0;
									left: -10px;
									top: 0;
									border-left: 1px dotted $c-light-grey;
								}

								&::after {
									content: '';
									position: absolute;
									top: 4px;
									margin-left: 10px;
									width: 15px;
									height: 15px;
									background: url('../imgs/icons/i-search-sm.svg');
								}
							}
							input[type=text] + label {
								pointer-events: none;
							}
							input[type=text]:focus + label,
							input[type=text].has-value + label {
								font-size: $t-small;
								line-height: 1.5em;
								transform: translateY(-5px);

								&::after {
									top: 2px;
								}
							}

							.dropdown {
								position: absolute;
								width: 100%;
								max-height: 0;
								left: 100%;
								transform: translateX(0);
								top: 0;
								background-color: #FFF;
								box-shadow: 0px 10px 10px rgba(0,0,0,.1);
								overflow: auto;
								z-index: 100;
								transition: max-height 0.25s ease-out;

								menu {
									width: 100%;
									border-top: 2px solid $c-dark-blue;

									li {
										display: flex;
										justify-content: center;
										align-items: center;
										width: calc(100% - 60px);
										margin: 0;
										padding: 5px 30px;
										text-align: left;

										a {
											display: block;
											position: static;
											width: 100%;
											color: $c-dark-grey;
											font-size: $t-mid-small;
											line-height: 1.5em;
											transform: none;
										}

										&:hover {
											background-color: $c-light-3;
										}
									}
								}
							}
						}
						/*li:hover,
						li.active {
							input[type=text] {
								border-color: $c-light-2;
							}
						}*/
						li.active {
							button {
								font-weight: bold;
								color: $c-dark-blue;

								.count {
									font-weight: normal;
								}
							}
							input[type=text] {
								border-color: $c-dark-blue;
							}
						}
					}
				}
			}

			.btn-group {
				margin-right: 15px;

				a {
					display: block;
					width: 30px;
					height: 30px;
					border-radius: 30px;
					border: 1px solid $c-light-grey;
					text-align: center;

					i {
						line-height: 30px;
						font-size: $t-main;
						color: $c-light-grey;
					}
				}
				a.active {
					background-color: $c-dark-blue;
					border-color: $c-dark-blue;

					i {
						color: #FFF;
					}
				}
			}
		}
	}
}


header { /* LEFT COlUMN */
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: #FFF;
	z-index: 1000;
	transform: translateX(calc(-100% - 10px));
	box-shadow: 10px 0 10px rgba(0,0,0,.1);
	transition: transform .25s ease-out;

	.inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		min-height: 100vh;
		top: 0;

		nav#site-title {
			display: block;
			margin-top: 45px;

			.inner {
				position: static;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				left: 0;
				width: 100%;
				min-height: auto;

				img.logo {
					height: 125px;
					/*margin-left: 80px;*/
					margin-right: 60px;
				}

				.create,
				.save {
					position: relative;
					margin-top: 31px;

					button {
						min-height: 45px;
						margin: 0;
						padding: 0 30px;
						border: 1px solid $c-dark-blue;
						outline: none;
						background-color: transparent;
						font-size: $t-main;
						text-align: center;
						cursor: pointer;
					}
					.dropdown {
						display: block;
						position: absolute;
						top: calc(100% - 1px);
						left: 50%;
						max-height: 0;
						width: 450px;
						background-color: #FFF;
						overflow: hidden;
						z-index: 1000;
						transform: translateX(-50%);
						box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
						transition: max-height 0.25s ease-out;

						ul {
							width: 100%;
							border-top: 2px solid $c-dark-blue;

							li.filter {
								position: fixed;
								height: 45px;
								width: 100%;
								background-color: #FFF;
								border-bottom: 1px solid $c-light-grey;
								z-index: 100;

								input[type=text] {
									position: relative;
									width: calc(100% - 30px);
									height: 30px;
									padding: 15px 15px 0 15px;
									border: none;
									outline: none;
									background-color: transparent;
									font-size: $t-mid-small;
									color: $c-dark-blue;
								}
								label {
									position: absolute;
									left: 15px;
									/*width: calc(100% - 30px);*/
									font-size: $t-mid-small;
									line-height: 1.5em;
									color: $c-light-grey;
									transform: translateY(13.5px);
									transition: transform .25s, font-size .25s;

									&::after {
										content: '';
										position: absolute;
										top: 4px;
										margin-left: 10px;
										width: 15px;
										height: 15px;
										background: url('../imgs/icons/i-search-sm.svg');
									}
								}
								input[type=text] + label {
									pointer-events: none;
								}
								input[type=text]:focus + label,
								input[type=text].has-value + label {
									font-size: $t-small;
									line-height: 1.5em;
									transform: translateY(2px);
								}
							}
							li.padding {
								width: 100%;
								height: 45px;
							}
							li {
								position: relative;
								background-color: #FFF;

								img {
									width: 30px;
									height: 30px;
									margin-right: 10px;
								}

								button {
									display: flex;
									align-items: center;
									position: relative;
									width: 100%;
									height: auto;
									min-height: 45px;
									margin: 0;
									padding-right: 15px;
									background-color: #FFF;
									border: none;
									cursor: pointer;
									text-align: left;
									color: $c-light-grey;

									label {
										flex-grow: 1;
										display: block;
										width: 100%;
										cursor: pointer;
										margin: 10px 0;
									}
									.expandable {
										cursor: pointer;
										transition: transform .25s;
									}
								}
								button:hover {
									background-color: $c-light-2 !important;
								}
								button.wrapable {
									flex-direction: column;
									justify-content: center;
									align-items: flex-start;
									white-space: normal;
									padding-top: 5px;
									padding-bottom: 5px;

									label {
										margin: 0;
										flex-grow: initial;
									}
									.sub {
										display: block;
										width: 100%;
										font-size: $t-small;
										color: $c-light-grey;
									}
								}
								a {
									button,
									button:hover {
										color: $c-dark-grey;
									}
								}
								a:hover {
									text-decoration: none;
								}
								form {
									width: calc(100% - 45px);
									height: 45px;
									line-height: 45px;
									margin: 0;
									padding: 0 15px 0 30px;
									text-align: center;
									white-space: nowrap;
									cursor: pointer;

									input[type=file] {
										display: none;
									}
									input[type=file] + label {
										display: block;
										width: 100%;
										cursor: inherit;
									}
								}
								.dropdown {
									width: calc(100% - 60px);
									box-shadow: 0 10px 10px rgba(0, 0, 0, .1);

									ul {
										border-top: none;
									}
								}
								.dropdown.leaf {
									button {
										font-size: $t-mid-small;
										line-height: 1.5em;
									}
								}

								&.open {
									& > .dropdown {
										border-top: 1px solid $c-light-grey;
									}
									& > button {
										.expandable {
											transform: rotate(90deg);
										}
									}
								}
							}
							li:hover > button,
							li.open > button,
							li:hover > form,
							li.open > form {
								background-color: $c-light-2 !important;
							}
							li.status-0 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(255, 193, 14, .1) 3px,
										rgba(255, 193, 14, .1) 6px
									);
								}
							}
							li.status-1 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(50, 190, 225, .1) 3px,
										rgba(50, 190, 225, .1) 6px
									);
								}
							}
							/*li.status-2 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(150, 150, 150, .1) 3px,
										rgba(150, 150, 150, .1) 6px
									);
								}
							}*/
						}
					}
				}
				.create:hover,
				.create:focus,
				.create.open {
					button {
						background-color: $c-dark-blue;
						color: #FFF;
					}
				}
				h1 {
					margin-top: 15px;
					font-size: $t-large;
					line-height: 1.2em;
				}
				h2 {
					margin: 5px 0;
					font-weight: 300;
					color: $c-light-green;
					font-size: $t-main;
				}
				.search {
					margin-top: 15px;

					button {
						border: none;
						outline: none;
						background-color: transparent;

						img {
							width: 60px;
							height: 60px;
							cursor: pointer;
						}
					}
				}
			}
		}
		nav#modules {
			margin-bottom: 120px;

			menu {
				list-style: none;

				li {
					position: relative;
					text-align: center;

					a {
						display: block;
						width: 100%;
						max-width: 150px;
						margin: auto;
						padding: 15px 0;
						color: $c-light-grey;
					}
					a:hover {
						text-decoration: none;
					}
				}
				li.active {
					a {
						font-weight: bold;
						color: $c-dark-blue;
					}
				}
				li:not(:first-child)::before {
					content: '';
					position: absolute;
					width: 100px;
					height: 0px;
					left: calc(50% - 100px / 2);
					border-top: 1px dotted $c-light-grey;
				}
			}
		}
	}
}
header.open {
	transform: translateX(0);
}

nav#filters {
	display: inline-block;
	vertical-align: top;
	margin-top: calc(30px + 15px);

	.inner {
		position: fixed;
		padding: 15px 30px 15px 5px;

		p {
			margin: 0 0 15px 5px;
			font-size: $t-main;
			font-style: italic;
			color: $c-light-grey;
		}
		.active-filters {
			width: 100%;
			margin-bottom: 30px;

			.tag {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border: 1px solid $c-light-grey;
				padding: 0 0 0 10px;
				margin: 5px;
				background-color: #FFF;
				font-size: $t-small;
				color: $c-light-grey;

				label {
					cursor: pointer;
				}
				.type {
					flex-shrink: 0;
					font-size: $t-xsmall;
					padding-right: 5px;
					border-right: 1px dotted $c-light-grey;
				}
				.name {
					flex-grow: 1;
					margin: 0 10px 0 5px;
					white-space: nowrap;
				}
				.close {
					flex-shrink: 0;
					width: 30px;
					padding: 5px 0;
					background-color: $c-light-grey;
					text-align: center;
					color: #FFF;
				}
			}
		}
	}
}
