.tooltip {
  position: relative;
  display: inline-block;
//   border-bottom: 1px dotted #ee402d;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #969696;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  font-size: 12px !important;
  line-height: 1rem;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
