.tooltip {
  position: relative;
  display: inline-block;

  i {
    font-family: Lucida Console, monospace;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: $c-light-grey;
    color: #FFF;
    text-align: center;
    line-height: 15px;
    font-size: $t-small;
    cursor: default;
  }

  .tooltiptext {
    display: none;
    max-width: 300px;
    min-width: 150px;
    background-color: $c-light-2;
    color: #000;
    text-align: center;
    padding: 7.5px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    font-size: $t-small;
    line-height: 1.3em;
    z-index: 1000;
  }

  &:hover .tooltiptext {
    display: block;
  }
}

/*.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}*/

