div.browse {
	display: inline-block;
	width: 55%;
	min-width: 875px;
	margin-left: 15%;
	padding-top: 120px;

	nav {
		width: 100%;
		margin: 15px 0 30px -15px;
		
		ul  {
			li {
				display: inline-block;
				margin: 0 15px 0 0;

				a {
					button {
						height: 45px;
						padding: 0 10px 0 30px;
						border: none;
						outline: none;
						border-radius: 45px;
						border: 1px solid $c-mid-blue;
						background-color: transparent;
						font-size: $t-mid-small;
						color: $c-mid-blue;
						cursor: pointer;

						.count {
							vertical-align: middle;
							display: inline-block;
							width: 30px;
							height: 30px;
							background-color: $c-mid-blue;
							border-radius: 30px;
							margin: -1px 0 0 10px;
							line-height: 30px;
							font-size: $t-xsmall;
							font-weight: bold;
							color: #FFF;
						}
					}
				}
			}
			li.active {
				a {
					button {
						background-color: $c-mid-blue;
						color: #FFF;

						.count {
							background-color: #FFF;
							color: $c-mid-blue;
						}
					}
				}
			}
		}
		p {
			margin: 15px 0 0 15px;
			font-size: $t-small;
			color: $c-light-grey;
		}
	}

	main {
		.inner {
			section {
				.pads-layout,
				.files-layout,
				.templates-layout,
				.mobilizations-layout {
					.pad,
					.file,
					.template,
					.mobilization {
						margin: 30px 0;

						.inner {
							display: flex;
							flex-flow: row wrap;

							.head {
								/*flex: 0 0 calc(100% - 330px);*/
								flex: 0 0 100%;
								margin-bottom: 5px;

								.meta-group {
									display: flex;
									/*justify-content: space-between;*/
									align-items: flex-end;

									.meta-contributor {
										flex: 0 0 calc(100% - 300px);
										margin-bottom: 0;
										font-size: $t-small;
										font-weight: bold;
										color: $c-mid-blue;
									}
									.btn-group {
										form {
											display: inline-block;
											margin: 0 5px 0 5px;

											button {
												height: 30px;
												padding: 0 10px;
												border: 1px solid $c-dark-blue;
												outline: none;
												background-color: transparent;
												font-size: $t-mid-small;
												cursor: pointer;
											}
											button.publish,
											button.active {
												background-color: $c-light-blue;
												border-color: $c-light-blue;
												color: #FFF;
											}
											button:disabled {
												background-color: transparent;
												border: 1px solid $c-light-2;
												color: $c-light-2;
												pointer-events: none;
												cursor: default;
											}
										}
										form:first-child {
											margin-left: 0;
										}
										form:last-child {
											margin-right: 0;
										}
									}
								}
							}
							.body {
								flex: 0 0 calc(100% - 330px);
								/*flex-grow: 1;*/
								padding-right: 30px;
								padding-bottom: 10px;

								.meta, .media {
									margin: 5px 0;
								}
								.media-title {
									a {
										color: $c-dark-blue;

										h1 {
											font-size: $t-large;
											font-weight: bold;
											cursor: pointer;

											img {
												vertical-align: top;
												width: 30px;
												height: 30px;
												cursor: pointer;
											}
										}
									}
								}
								.media-txt {
									margin-bottom: 10px;
									font-size: $t-main;

									a {
										color: $c-dark-grey;

										.read-more {
											color:  $c-light-blue;
										}
									}
									a:hover {
										text-decoration: none;

										.read-more {
											text-decoration: underline;
										}
									}
								}
								.meta-date {
									font-size: $t-small;
									color: $c-mid-blue;
								}
								.meta-mobilization,
								.meta-template {
									font-size: $t-small;
									display: inline-block;
								}
								.meta-mobilization,
								.meta-template,
								.meta-followup,
								.meta-forward {
									color: $c-mid-grey;
								}
								.meta-mobilization {
									padding-right: 10px;
									margin-right: 10px;
									border-right: 1px solid $c-mid-blue;
								}
								.tag-group {
									.meta-tags {
										margin-left: -5px;

										a {
											display: inline-block;
											color: $c-mid-blue;

											.tag {
												border: 1px solid $c-mid-blue;
												padding: 5px 10px;
												margin: 5px;
												font-size: $t-small;

												label {
													cursor: pointer;
												}
											}
										}
										a:hover {
											text-decoration: none;
										}
									}
								}
								.meta-sdgs {
									span {
										margin-right: 5px;
										font-size: $t-small;
										/*font-weight: bold;*/
										color: $c-mid-blue;
									}
									a {
										margin: 0 5px;
									}
								}
								.create {
									position: relative;
									display: block;
									margin: 5px 10px 10px 0;

									button {
										height: 30px;
										padding: 0 15px;
										border: 1px solid $c-light-blue;
										outline: none;
										background-color: $c-light-blue;
										font-size: $t-main;
										color:  #FFF;
										cursor: pointer;
									}
									.drop-down {
										display: none;
										position: absolute;
										top: 100%;
										left: 0;
										background-color: #FFF;

										ul {
											/*width: 100%;*/
											margin-top: -1px;
											border:  1px solid $c-light-blue;
											
											li {
												position: relative;

												button {
													display: flex;
													flex-direction: row;
													justify-content: space-between;
													align-items: center;
													width: 100%;
													margin: 0;
													background-color: transparent;
													border: none;
													text-align: left;
													white-space: nowrap;
													color: $c-dark-grey;
													cursor: pointer;

													label {
														cursor: pointer;
													}
													.expandable {
														margin-left: 30px;
														cursor: pointer;
													}
												}
												button:hover {
													background-color: $c-light-2;
												}
												button.wrapable {
													flex-direction: column;
													justify-content: center;
													align-items: flex-start;
													height: 60px;

													.sub {
														font-size: $t-small;
													}
												}
												a:hover {
													text-decoration: none;
												}
												.drop-down {
													display: none;

													ul {
														li {
															button {
																background-color: $c-mid-blue-semi;
															}
															.drop-down {
																display: none;
															}
														}
														li:hover {
															.drop-down {
																display: block;
															}
														}
													}
												}
											}
											li:hover {
												.drop-down {
													display: block;
												}
											}
											li:hover > button {
												background-color: $c-light-2;
											}
											/*li.not-hovered > button {
												background-color: $c-light-grey !important;
											}
											li.not-hovered > a {
												button {
													background-color: $c-light-grey !important;
												}
											}*/
										}
									}
								}
								.create:hover {
									.drop-down {
										display: block;
									}
								}
							}
							.foot {
								align-self: top;

								.media-img {
									position: relative;
									width: 300px;
									height: 200px;
									display: flex;
									align-items: flex-end;

									.bookmark {
										display: none;
										justify-content: center;
										align-items: center;
										position: absolute;
										width: 30px;
										height: 90px;
										top: -10px;
										right: 10px;
										background-color: $c-mid-blue;
										font-size: $t-small;
										text-align: center;
										color: #FFF;
										z-index: 100;
										transform: translateY(-10px);
										transform-origin: top center;
										transition: transform .15s ease-out, background-color .25s;
										cursor: pointer;

										.label {
											transform: rotate(-90deg);
										}
									}
									.bookmark::before {
										content: '';
										position: absolute;
										right: 0;
										top: 0;
										transform: translateY(90px);
										width: 0;
										height: 0;
										border-top: 7px solid $c-mid-blue;
										border-left: 15px solid transparent;
										transform-origin: top center;
										transition: transform .15s ease-out, border-top-color .25s;
									}
									.bookmark::after {
										content: '';
										position: absolute;
										left: 0;
										top: 0;
										transform: translateY(90px);
										width: 0;
										height: 0;
										border-top: 7px solid $c-mid-blue;
										border-right: 15px solid transparent;
										transform-origin: top center;
										transition: transform .15s ease-out, border-top-color .25s;
									}
									.bookmark:hover,
									.bookmark.active {
										display: flex;
										transform: translateY(0);
										background-color: $c-dark-blue;
									}
									.bookmark:hover::before,
									.bookmark:hover::after,
									.bookmark.active::before,
									.bookmark.active::after {
										border-top-color: $c-dark-blue;
									}
									.bookmark.active {
										transform: translateY(0)scaleY(.5);

										.label {
											display: none;
										}
									}
									.bookmark.active::before,
									.bookmark.active::after {
										transform: translateY(90px)scaleY(2);
									}
									a {
										display: block;
										position: relative;
										width: 100%;
										height: 100%;
										color: $c-dark-blue;

										img {
											display: block;
											width: 100%;
											background-color: $c-light-2;
											height: 100%;
											font-size: $t-small;
											line-height: 200px;
											text-align: center;
										}
									}
								}
								.meta-group {
									display: flex;
									justify-content: space-around;
									width: 300px;

									.meta-stats {
										margin-top: 15px;

										a {
											h1 {
												text-align: center;
												cursor: pointer;

												small {
													font-size: $t-small;
													display: block;
													cursor: pointer;
												}
											}
										}
										a:hover {
											text-decoration: none;
											
											h1 {
												small {
													text-decoration: underline;
												}
											}
										}
										a.disabled {
											color: $c-dark-blue;

											h1 {
												small {
													text-decoration: none !important;
												}
											}
										}
									}
								}
							}
						}
					}
					.pad.status-0,
					.template.status-0,
					.file.status-0 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 10px,
							rgba(255, 193, 14, .1) 10px,
							rgba(255, 193, 14, .1) 20px
						);
					}
					.pad.status-1,
					.template.status-1,
					.file.status-1 {
						background: repeating-linear-gradient(
							-45deg,
							transparent,
							transparent 10px,
							rgba(50, 190, 225, .1) 10px,
							rgba(50, 190, 225, .1) 20px
						);
					}
				}
			}
		}
	}
}

footer {
	position: fixed;
	bottom: 60px;
	width: 15%;
	/*z-index: -1;*/

	.inner {
		ul.pagination {
			text-align: center;
			li {
				display: inline-block;
				margin: 0 5px;

				a.page-link.active {
					font-weight: 700;
					text-decoration: underline;
				}
			}
		}
	}

	img {
		width: 180px;
		height: auto;
	}
}