/* https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */

@import 'vars';

/* Small devices (landscape phones, 480px and up) */
@media (max-width: 480px) {
/*@media (max-width: 480px) and (orientation: portrait) {*/
	@import 'vars.xs';
	@import 'navigate.xs';
	@import 'filter.lg';
	@import 'map.lg';
	
	@import 'pad.xs';
	@import 'profile.xs';
	@import 'browse.xs';
	@import 'mobilize.lg';
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	@import 'vars.xs';
	@import 'navigate.xs';
	@import 'filter.lg';
	@import 'map.lg';
	
	@import 'pad.xs';
	@import 'profile.xs';
	@import 'browse.xs';
	@import 'mobilize.lg';
}
/* Large devices (desktops, 1024px and up) */
@media (max-width: 1024px) {
	@import 'vars.m';
	@import 'navigate.m';
	@import 'filter.lg';
	@import 'map.lg';
	
	@import 'pad.xs';
	@import 'profile.xs';
	@import 'browse.m';
	@import 'mobilize.lg';
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	@import 'vars.lg';
	@import 'navigate.lg';
	@import 'filter.lg';
	@import 'map.lg';
	
	@import 'pad.lg';
	@import 'profile.lg';
	@import 'import.lg';
	@import 'browse.lg';
	@import 'mobilize.lg';
}

@media print {
	@import 'vars.print';
	@import 'pad.lg';
	@page {
		size: A4 portrait;
		margin: 20mm 30mm;

		@bottom-left {
			content: counter(page);
		}
	}
	a::after {
		content: " (" attr(href) ")";
	}
	nav#languages {
		display: none;
	}
	button#expand-nav {
		display: none;
	}
	header {
		display: none;
	}
	div.document {
		border: none !important;
		width: 100% !important;
		min-height: unset !important;
		padding: 0;

		*:not(img):empty,
		*:empty:before {
			display: none;
		}

		main#pad {
			.inner {
				.head {
					a.return {
						display: none;
					}
				}
				.body {
					section {
						margin: 24pt 0;
					
						p {
							margin: 12pt 0;
							color: $c-dark-grey;
						}
						p.instruction {
							color: $c-light-grey;
							font-size: $t-mid-small;
							line-height: 1.5em;
						}
						ol, ul {
							margin: 12pt 0 12pt 15mm;

							li.checked {
								font-weight: bold;
							}
						}
						ul.tags,
						ol.indexes {
							margin: 12pt 0;
							text-align: center;
							
							li {
								display: inline;

								img {
									width: 20mm;
								}
							}
							li.tag {
								padding: 1mm;
								margin: 1mm;
								font-size: $t-mid-small;
							}
						}
						ul.locations {
							list-style: url("../imgs/icons/i-locations-btn.svg") !important;
						}
						img {
							margin: 6pt auto;
							max-width: 100%;
						}
						div.mosaic {
							display: grid;
							grid-gap: 6pt;
							grid-template-columns: repeat(3, 1fr);
							align-items: center;
						}
						div.mosaic.x2 {
							grid-template-columns: repeat(2, 1fr);
						}
					}
				}
			}
		}
	}
	
	.meta-info.mobilization-info,
	.scroll-nav {
		display: none !important;
	}
	.head {
		a.return {
			display: none;
		}
	}

	.input-toolbox {
		display: none;
	}
	
	.opts {
		display: none !important;
	}
	footer {
		display: none;
	}
}