.goog-te-gadget-simple {
    width: 0px !important;
}

.googletranslator {
    padding-left: 0;
}

.goog-te-gadget-icon {
    display: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    margin-top: 30px;
}

#goog-gt-tt {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
}

.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
    max-width: 100%;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none;
}




