main#mobilize-new {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 95px);
	margin-top: 95px;
	overflow: scroll;
	background-color: $c-mid-1;
	animation: fade-in .25s;
	transition: background 1s;
	z-index: 999;

	.modal {
		width: 600px;

		.back {
			float: left;
			border: none;
			outline: none;
			padding: 5px 10px 5px 5px;
			background-color: transparent;
			color: #FFF;
			font-size: $t-small;
			cursor: pointer;

			i {
				font-size: $t-main;
				vertical-align: middle;
				cursor: pointer;
			}
			label {
				vertical-align: middle;
				cursor: pointer;
			}
		}
		.back:hover {
			label {
				text-decoration: underline;
			}
		}
		.inner {
			padding: 0;
			background-color: transparent;

			.head {
				display: flex;
				padding: 10px;
				font-size: $t-main;
				color: #FFF;
				
				.title {
					font-weight: 700;

					i {
						vertical-align: middle;
						transform: rotate(90deg);
					}
				}
				.contributor-count {
					flex-grow: 1;
					text-align: center;
					color: $c-light-1;
				}
				.global-opt {
					padding: 0 7px 0 5px;
					
					input {
						display: none;
					}
					label {
						cursor: pointer;
						font-weight: 700;
						font-style: italic;
						color: $c-light-1;
					}
				}
				.global-opt:hover {
					label {
						text-decoration: underline;
					}
				}
				.global-opt.active {
					/*background-color: $c-light-1;*/

					label {
						color: #FFF;
					}
				}
			}
			.body {
				position: relative;
				min-height: 65px;
				padding: 0 0 0 21px;

				.opts {
					max-height: 500px;
					overflow: scroll;
					padding-right: 10px;
					border-left: 1px solid $c-light-1;

					.opt {
						display: flex;
						align-items: center;
						color: $c-light-2;
						margin: 10px 0;

						div {
							padding: 0 5px;
							cursor: pointer;
							
							label {
								/* THE FOLLOWING IS TO COMPENSATE FOR var.lg.css */
								position: relative;
								top: 0;
								left: 0;
								cursor: pointer;
							}
						}
						div:nth-child(2) {
							margin: 0 5px;
						}
						div:last-child {
							margin-right: 5px;
						}
						.preview {
							color: $c-light-1;

							i {
								vertical-align: middle;
								font-size: $t-main;
								cursor: pointer;
							}
						}
						.grow {
							flex-grow: 1;
							text-align: left;
							word-break: break-word;

							label {
								display: inline-block;
								width: 100%;
								transform: translateY(0);
							}
						}
						.count {
							vertical-align: baseline;
							
							label { 
								color: $c-light-1;
								font-size: $t-small;
							}
						}
					}
					.opt.checked {
						background-color: #FFF;
						color: $c-dark-1;
						
						.preview {
							color: $c-mid-2;
						}
						.grow {
							label {
								color: $c-dark-1;
							}
						}
						.count {
							label {
								color: $c-mid-2;
							}
						}
					}
					.opt:not(.checked):hover {
						background-color: $c-light-1;
						color: $c-dark-1;

						.preview {
							color: $c-mid-2;
						}
						.grow {
							label {
								color: $c-dark-1;
							}
						}
						.count {
							label {
								color: $c-mid-2;
							}
						}
					}
				}
				input[type=text] {
					width: 100%;
					height: 50px;
					border: none;
					outline: none;
					margin: 15px 0 0 -21px;
					background-color: transparent;
					font-size: $t-large; 
					color: #FFF;
				}
				label {
					position: absolute;
					top: 5px;
					left: 0;
					font-size: $t-main;
					color: #FFF;
					transform: translateY(calc(#{$t-main}));
					transition: transform .25s, font-size .25s;
					cursor: pointer;
				}
				input[type=text]:focus + label,
				input[type=text].has-value + label {
					font-size: $t-small;
					transform: translateY(0px);
				}
				input:-webkit-autofill,
				input:-webkit-autofill:hover, 
				input:-webkit-autofill:focus, 
				input:-webkit-autofill:active  {
					-webkit-box-shadow: 0 0 0 40px $c-mid-1 inset !important;
					-webkit-text-fill-color: #FFF !important;
				}
			}
			.foot {
				margin-top: 0;
				border-top: 1px solid $c-dark-1;
				
				button {
					border-radius: 0;
					padding-right: 0;
					background-color: transparent;
					text-align: right;
					color: #FFF;

					label {
						display: inline-block;
						width: 100%;
						cursor: pointer;

						i {
							font-size: $t-main;
							vertical-align: middle;
							cursor: pointer;
						}
					}
				}
				button:disabled {
					color: $c-dark-1;
				}
				button:hover {
					label {
						text-decoration: underline;
					}
				}
				button:hover:disabled {
					label {
						text-decoration: none;
					}
				}
			}
		}
	}
	.modal.m-1 {
		width: 600px;

		.foot {
			border-color: #FFF;
		}
	}
}
.modal.template-preview {
	align-self: flex-start;
	width: auto;
	margin: 0 auto 30px auto;

	main#template {
		padding: 0;
		margin: 0 auto;

		.inner {
			padding: 60px;
		}
	}

}
main#mobilize-existing {
	width: calc(300px * 4 + 3 * 15px);
	margin: 125px auto 0 auto;
	padding:  60px 0 0 0;
	
	.inner {
		.overview {

			.summary-statistics {
				width: 100%;

				.statistic {
					position: relative;
					width: 100%;
					text-align: center;
					color: $c-mid-2;

					h1 {
						font-size: $t-xxlarge;
						line-height: $t-main;
						white-space: nowrap;

						small {
							font-size: $t-main;
						}
					}
					h2 {
						font-size: $t-xlarge;
						line-height: $t-main;

						small {
							font-size: $t-main;
						}
					}
				}
				.statistic:first-child {
					grid-column-start: 3;
				}
			}
		}
		.mobilizations-container {
			clear: both;
			position: relative;
			margin: 60px 0 60px 0;
			border-top: 1px solid $c-mid-2;

			.pub-status {
				display: block;
				text-align: center;
				margin-bottom: 30px;

				label {
					position: absolute;
					bottom: 100%;
					left: 0;
					white-space: nowrap;
					padding: 5px 10px;
					background-color: $c-mid-2;
					font-size: $t-small;
					color: #FFF;
				}
			}
			.input-group {
				clear: both;
				width: 100%;
				display: flex;
				justify-content: center;
				margin: -30px 0 30px 0;

				button {
					border: none;
					outline: none;
					height: 45px;
					background-color: transparent;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					padding: 0 30px 0 20px;
					font-size: $t-small;
					cursor: pointer;
					transition: background-color .25s;

					i {
						vertical-align: middle;
						margin-right: 5px;
						cursor: pointer;
					}
					label {
						cursor: pointer;
					}
				}
				button:hover {
					background-color: $c-light-2;
				}
				button.highlight {
					background-color: $c-dark-1;
					color: #FFF;
				}
				button:disabled {
					pointer-events: none;
					color: $c-light-2;
				}
			}
			.mobilizations-layout {

				.mobilization {
					position: relative;
					width: 100%;
					height: 100%;
					vertical-align: top;
					margin-bottom: 15px;
					border-left: 1px solid $c-light-2;

					.inner {
						position: relative;

						/*a {
							text-decoration: none;*/

							.body {
								display: flex;
								padding: 0 10px 10px 10px;

								/*.meta.row-1 {
									display: flex;
									justify-content: space-between;
									align-items: center;
									margin-top: 5px;

									.meta-sdgs {
										font-size: $t-small;
										margin-top: 5px;

										span {
											margin-right: 3px;
											color: $c-light-1;
										}
										a {
											margin: 0 3px;
											color: $c-mid-1;
											font-weight: 700;
											text-decoration: none;
										}
										a:hover {
											text-decoration: underline;
										}
									}
									.meta-engagement {
										button {
											position: relative;
											width: 30px;
											height: 30px;
											border: none;
											border-radius: 30px;
											outline: none;
											margin: 0 0 0 10px;
											background-color: transparent;
											color: $c-light-1;
											transition: background-color .25s;

											i {
												font-size: $t-mid;
												line-height: 30px;
												font-style: normal;
												cursor: pointer;
											}
										}
										button:hover {
											background-color: $c-light-2;
										}
										button.active {
											color: $c-mid-1;
										}
										button::after {
											content: attr(data-count);
											position: absolute;
											left: 0;
											top: calc(100% - 7px);
											width: 100%;
											text-align: center;
											font-size: $t-xsmall;
											font-weight: 700;
											pointer-events: none;
										}
									}
								}*/
								.head {
									flex-shrink: 0;
									width: 300px;
									margin-right: 15px;

									.meta-tags {
										margin-top: 5px;

										a {
											text-decoration: none;

											.tag {
												display: inline-block;
												margin: 5px 5px 0 0;
												padding: 3px 5px;
												background-color: transparent;
												border: 1px solid $c-mid-1;
												border-radius: 5px;
												color: $c-mid-1;
												font-size: $t-small;
												transition: background-color .25s;
												cursor: pointer;

												label {
													cursor: pointer;
												}
											}
										}
										.tag:hover {
											background-color: $c-mid-1;
											color: #FFF;
										}
									}
									.meta-contributor {
										margin: 5px 0 10px 0;
										font-size: $t-small;
										color: $c-light-1;

										a:hover {
											text-decoration: underline;
										}
									}
									.media-title {
										overflow-wrap: break-word;
										margin-top: 10px;
										/*padding: 0 20px;*/
										font-size: $t-main;
										line-height: 1.4em;
										color: $c-dark-1;
										font-weight: 700;
									}
								}
								.content {
									flex-grow: 1;
									display: flex;
									position: relative;
									margin-right: 15px;

									.media-txt {
										flex-grow: 1;
										overflow-wrap: break-word;
										margin-top: 10px;
										font-size: $t-main;
										line-height: 1.4em;
										color: $c-mid-2;

										small {
											font-style: italic;
										}
									}
									.meta-stats {
										align-self: center;
										flex-shrink: 0;
										width: 150px;

										a {
											h1 {
												margin-top: 10px;
												text-align: center;
												line-height: $t-main;
												white-space: nowrap;
												cursor: pointer;

												small {
													font-size: $t-small;
												}
											}
										}
										a.disabled {
											h1 {
												color: $c-mid-2;
											}
										}
										a:hover {
											text-decoration: none;
										}
										a:not(.disabled):hover {
											/*h1 {
												text-decoration: none;
											}*/
											small {
												text-decoration: underline;
											}
										}
									}
									.btn-group {
										display: none;
										position: absolute;
										bottom: 0;

										form {
											display: inline-block;
											margin: 10px 5px 0 0;

											.btn-overlay {
												padding: 5px;
												background-color: $c-mid-2;
												border: none;
												outline: none;
												font-size: $t-small;
												color: #FFF;
												cursor: pointer;
											}
										}
									}
								}
							}
						/*}*/
					}
				}
				.mobilization:hover {
					.inner {
						.body {
							.content {
								.btn-group {
									display: block;
								}
							}
						}
					}
				}
				.mobilization::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $c-light-2;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					opacity: 0;
					mix-blend-mode: multiply;
					pointer-events: none;
					transition: opacity .25s;
					z-index: 10;
				}
				.mobilization:hover::after {
					opacity: 1;
				}
			}
			.mobilization-layout.unpublished {
				.mobilization {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 10px,
						rgba(211, 172, 43, .1) 10px,
						rgba(211, 172, 43, .1) 20px
					);
				}
			}
			.mobilization-layout.publishable {
				.mobilization {
					background: repeating-linear-gradient(
						-45deg,
						transparent,
						transparent 10px,
						rgba(163, 198, 196, .15) 10px,
						rgba(163, 198, 196, .15) 20px
					);
				}
			}
		}

	}
}
footer {
	margin-top: 30px;
	.new {
		text-align: center;
		a {
			button {
				width: 90px;
				height: 90px;
				border-radius: 90px;
				border: none;
				outline: none;
				background-color: transparent;
				font-size: $t-xlarge;
				color: $c-mid-1;
				cursor: pointer;
				transition: background-color .25s;
			}
			button:hover {
				background-color: $c-light-2;
			}
		}
	}
}