@import 'vars.lg';

@media print {
	$t-xxsmall: 8pt;
	$t-xsmall: 8pt;
	$t-small: 9pt;
	$t-mid-small: 10pt;
	$t-main: 11pt;
	$t-mid: 14pt;
	$t-large: 18pt;
	$t-xlarge: 24pt;
	$t-xxlarge: 36pt;
	$t-xxxlarge: 48pt;

	html, body {
		font-size: $t-main;
		line-height: 1.5em;
	}
	.xs,
	.sm,
	.m {
		display: none;
	}
	.no-bg {
		background-color: transparent !important;
	}
	.add-circle {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 15px;
		border-radius: 20px;
		background-color: $c-light-grey;
		color: #FFF;
		font-size: $t-mid;
		line-height: 19px;
		text-align: center;
		vertical-align: text-top;
	}

	/*.pagedjs_page {
		margin: auto;
	}*/
}

.document.print {
	border: none;
	margin: auto;
	width: 100%;
	box-sizing: border-box;

	article.card {
		display: inline-block;
		position: relative;
		width: 300px;
		padding: 0 15px 30px 15px;
		margin: 30px 15px;
		/*border: 1px solid $c-light-2;*/
		box-sizing: border-box;
		overflow: hidden;
		vertical-align: top;

		img {
			width: 300px;
			margin-left: -15px;
		}
		.meta {
			margin: 5px 0;
		}
		.media-source {
			position: absolute;
			right: 0;
			top: 0;
			padding: 2px 10px;
			transform: rotate(-90deg);
			transform-origin: bottom right;
			color: $c-light-grey;
			font-size: $t-xsmall;
			line-height: 1.3em;
			background-color: #FFF;
		}
		.media-title {
			font-size: $t-large;
			line-height: 1.2em;
			margin: 10px 0 0 0;
			text-align: left;
		}
		.meta-contributor {
			display: inline-block;
			margin: 0 5px 0 0;
			font-size: $t-mid-small;
			line-height: 1.5em;
			color: $c-light-blue;

			&::after {
				content: ', ';
			}
		}
		.meta-date {
			display: inline-block;
			margin: 0 5px 0 0;
			font-size: $t-mid-small;
			line-height: 1.5em;
			color: $c-mid-blue;
		}
		.tag-group {
			.meta-tags {
				margin-left: -2px;

				.tag {
					display: inline-block;
					border: none;
					padding: 0 10px;
					margin: 0 2.5px 2.5px 0;
					background-color: $c-light-2;
					border-radius: calc(#{$t-small} * 1.75);
					font-size: $t-small;
					line-height: 1.75em;
					color: $c-mid-grey;

					label {
						cursor: pointer;
					}
				}
			}
			.meta-sdgs {
				font-size: $t-small;
				line-height: 1.5em;

				span.sdg-label {
					margin-right: 5px;
					color: $c-light-grey;
				}
				span.sdg {
					display: inline-block;
					margin: 0 5px;
					font-size: $t-mid-small;
					line-height: 1.2em;
					font-weight: bold;
					color: $c-light-blue;
				}
			}
		}
		.media-txt {
			margin: 10px 0;
		}
		.meta-source {
			display: block;
			font-size: $t-xsmall;
			line-height: 1.3em;
			color: $c-light-grey;
		}
	}
}

.journey-doc {
	display: none;
}
