tmp.*
.DS_Store
node_modules/
*.sublime-workspace
*.sublime-project
values.sql
pads.env
pads-distant.env
public/*uploads/
dep.*
*.env
tmp/
routes/scripts/
public/generated/
presentations/
dump/
*.uploads.zip
_00_inspiration.png
feedback/
*.ai