tmp.*
.DS_Store
node_modules/
*.sublime-workspace
*.sublime-project
values.sql
pads.env
pads-distant.env
public/*uploads/
dep.*
*.env
tmp/
routes/scripts/*
!routes/scripts/shared/
public/generated/
presentations/
branding/
dump/
*.uploads.zip
_00_inspiration.png
feedback/
*.ai
*.diff
version.txt
public/css/
timelines/
