{
    "trailingComma": "all",
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "prettier.eslintIntegration": true,
    "requireConfig": true,
    "printWidth": 79
}
