flake8
flake8-commas
flake8-isort
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
mypy
numpy
pandas
pre-commit
psycopg2
pycodestyle
pylint
pytest
pytest-cov
scikit-learn
spacey
SQLAlchemy[mypy]
transformers
types-psycopg2
