<!DOCTYPE html>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent">
<title><%= title %></title>

<link rel='stylesheet' type='text/css' href='./css/main.css'>

</head>

<body>

<form action='/login' method='POST'>
	<input type='text' name='username' placeholder='User name'>
	<input type='password' name='password' placeholder='Password'>
	<input type='hidden' name='originalUrl' value='<%- locals.originalUrl %>'>
	<button type='submit'>Log in</button>
</form>

<p>Find your username and password on <a href="https://undp.sharepoint.com/:x:/r/sites/AcceleratorLabsNetwork/Shared%20Documents/100%20Day%20Action%20Plans/AA_platform/credentials.xlsx?d=w0478661c6130409db4cc13283e73ace1&csf=1&web=1&e=p2QVg9" target='_blank' style='color: blue; text-decoration: underline;'>Teams</a>, under:</p>
<p>Accelerator Labs Network > Action Plans > Files > AA_platform > credentials.xlsx</p>

</body>