<%
	const uuid = locals.metadata.user.uuid
%>

<div class='slides' data-display='mosaic'>
	<% if (uuid) { %><div class='blank-area sidebar'>
	<% } else { %><div class='blank-area'><% } %>
		<h1 class='xs sm m'><%- (locals.metadata.site.title).replace(/\s+/g, '<br>') %></h1>
	</div>
</div>