<%
	const slides = locals.sample_images
	const language = locals.metadata.page.language
%>

<div class='slides'>
	<div class='blank-area'>
		<h1 class='xs sm m'>Solutions mapping</h1>
	</div>
</div>

<script type='text/javascript'>
	function renderMosaic () {
		let slides = <%- JSON.stringify(slides) %>
		if (!mediaSize) var mediaSize = getMediaSize()
		if (mediaSize === 'xs') slides = slides.slice(0, 11)
		if (mediaSize === 'sm') slides = slides.slice(0, 21)
		if (mediaSize === 'm') slides = slides.slice(0, 26)
		if (mediaSize === 'lg') slides = slides.slice(0, 31)

		const container = d3.select('div.slides')
		const vignette = container.addElems('div', 'slide', slides)
		.addElems('a')
			.attr('href', d => `/<%- language %>/view/pad?id=${d.id}`)
		const txt = vignette.addElems('div', 'media media-txt')
		txt.addElems('p', 'country')
			.html(d => d.country)
		txt.addElems('h1')
			.html(d => {
				if (d.title?.length > 50) return d.title?.slice(0, 50).trim()
				else return d.title
			})
		vignette.addElems('img')
			.attr('src', d => {
				<% if (locals.metadata.site.app_storage) { %> 
					return new URL(`<%- locals.metadata.site.app_storage %>${d.img[0]}`).href
				<% } else { %> 
					return d.img[0]
				<% } %>
			})
	}
	renderMosaic()
	window.onresize = (evt) => {
		renderMosaic()
	}
</script>